In [100]:
import pyspark
from pyspark.sql import SparkSession, types
from pyspark.sql import functions as F

In [101]:
spark = SparkSession.builder \
    .master("local[*]")\
    .appName("test")\
    .getOrCreate()

In [102]:
spark

In [103]:
# get data schema

import pandas as pd
df_pandas = pd.read_csv("./fhv_tripdata_2019-10.csv/fhv_tripdata_2019-10.csv")

In [104]:
spark.createDataFrame(df_pandas.head()).schema

c:\Users\ASUS\Python38\lib\site-packages\pyspark\sql\pandas\conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
c:\Users\ASUS\Python38\lib\site-packages\pyspark\sql\pandas\conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [105]:
schema = types.StructType(
    [types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.StringType(), True), 
    types.StructField('dropOff_datetime', types.StringType(), True), 
    types.StructField('PUlocationID',types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)])

In [106]:
# read csv file
df = spark.read\
    .option("header", "true")\
    .schema(schema)\
    .csv("./fhv_tripdata_2019-10.csv/fhv_tripdata_2019-10.csv")

In [107]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [108]:
#create partition table
df = df.repartition(6)
df.write.parquet("fhvhv/2019/10/", mode="overwrite")

In [109]:
#read from partition
df = spark.read.parquet("fhvhv/2019/10/")

In [110]:
new_df = df\
    .withColumn('pickup_date', F.to_date(df.pickup_datetime))\
    .withColumn('dropoff_date', F.to_date(df.dropOff_datetime))\
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID')

In [111]:
new_df.show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2019-10-02|  2019-10-02|         264|         264|
| 2019-10-01|  2019-10-01|         264|         264|
| 2019-10-02|  2019-10-02|          42|         243|
| 2019-10-02|  2019-10-02|         264|          70|
| 2019-10-03|  2019-10-03|         264|         264|
| 2019-10-02|  2019-10-02|         162|         265|
| 2019-10-02|  2019-10-02|         264|         126|
| 2019-10-02|  2019-10-02|         264|           3|
| 2019-10-01|  2019-10-01|         264|         221|
| 2019-10-01|  2019-10-01|         264|         254|
| 2019-10-02|  2019-10-02|         264|          75|
| 2019-10-01|  2019-10-01|         264|         264|
| 2019-10-02|  2019-10-02|         264|          91|
| 2019-10-01|  2019-10-01|         264|          18|
| 2019-10-01|  2019-10-01|         264|         173|
| 2019-10-03|  2019-10-03|         264|         264|
| 2019-10-01|  2019-10-01|         264|         264|
| 2019-10-02|  2019-10-02|         264|         258|
| 2019-10-02|  2019-10-02|         264|         245|
| 2019-10-03|  2019-10-03|         134|         197|
+-----------+------------+------------+------------+
only showing top 20 rows

# Count records on 15th October

In [112]:

new_df\
    .where(F.col("pickup_date")=="2019-10-15")\
    .count()

62610

In [113]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B03201|2019-10-02 06:50:00|2019-10-02 08:08:00|         264|         264|   null|                B02867|
|              B01129|2019-10-01 09:54:00|2019-10-01 10:09:00|         264|         264|   null|                B01129|
|              B03142|2019-10-02 09:10:00|2019-10-02 09:37:45|          42|         243|   null|                B02884|
|              B01381|2019-10-02 05:26:55|2019-10-02 05:34:34|         264|          70|   null|                B01381|
|              B02285|2019-10-03 07:30:00|2019-10-03 09:46:00|         264|         264|   null|                B02285|
|              B02715|2019-10-02 20:37:38|2019-10-02 21:15:11|         162|         265|   null|                B02866|
|              B02509|2019-10-02 10:24:45|2019-10-02 10:40:03|         264|         126|   null|                B02682|
|              B03016|2019-10-02 12:13:52|2019-10-02 12:21:08|         264|           3|   null|                B02878|
|              B03139|2019-10-01 08:00:18|2019-10-01 09:00:41|         264|         221|   null|                B03139|
|              B03016|2019-10-01 04:25:05|2019-10-01 04:32:51|         264|         254|   null|                B03016|
|              B00937|2019-10-02 07:18:00|2019-10-02 07:39:20|         264|          75|   null|                B00937|
|              B01979|2019-10-01 16:32:00|2019-10-01 16:52:00|         264|         264|   null|                B01979|
|              B00536|2019-10-02 14:05:12|2019-10-02 14:09:20|         264|          91|   null|                B00536|
|              B01338|2019-10-01 15:44:40|2019-10-01 15:47:40|         264|          18|   null|                B01338|
|              B01626|2019-10-01 10:52:40|2019-10-01 11:20:18|         264|         173|   null|                B01626|
|              B01710|2019-10-03 08:06:13|2019-10-03 09:17:05|         264|         264|   null|                B01710|
|              B02248|2019-10-01 07:13:12|2019-10-01 08:10:12|         264|         264|   null|                B02248|
|              B01553|2019-10-02 13:17:15|2019-10-02 13:20:19|         264|         258|   null|                B01553|
|              B03139|2019-10-02 14:00:17|2019-10-02 14:30:11|         264|         245|   null|                B03139|
|              B00653|2019-10-03 10:04:00|2019-10-03 11:00:00|         134|         197|   null|                B00653|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

# The longest trip

In [114]:
# Convert string columns to timestamp columns
df = df.withColumn("pickup_time", F.col("pickup_datetime").cast("timestamp"))
df = df.withColumn("dropoff_time", F.col("dropoff_datetime").cast("timestamp"))

In [115]:
# Calculate the duration column
df = df.withColumn("duration", (F.col("dropoff_time").cast("long") - F.col("pickup_time").cast("long")))

In [116]:
# Find the row with the maximum duration
max_duration_row = df.agg((F.max("duration") / 3600).alias('longest_trip_hour'))
print(f"longest trip: {max_duration_row.collect()[0]['longest_trip_hour']} hours")

longest trip: 631152.5 hours

# Least frequent pickup location zone

In [117]:
df_zone = spark.read\
    .option("header", "true")\
    .csv("./taxi_zone_lookup.csv")

In [118]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [126]:
full_join_df = df.join(df_zone, df['PUlocationID'] == df_zone['LocationID'], "inner")

In [127]:
full_join_df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+-------------------+--------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|        pickup_time|       dropoff_time|duration|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+-------------------+--------+----------+---------+--------------------+------------+
|              B03201|2019-10-02 06:50:00|2019-10-02 08:08:00|         264|         264|   null|                B02867|2019-10-02 06:50:00|2019-10-02 08:08:00|    4680|       264|  Unknown|                  NV|         N/A|
|              B01129|2019-10-01 09:54:00|2019-10-01 10:09:00|         264|         264|   null|                B01129|2019-10-01 09:54:00|2019-10-01 10:09:00|     900|       264|  Unknown|                  NV|         N/A|
|              B03142|2019-10-02 09:10:00|2019-10-02 09:37:45|          42|         243|   null|                B02884|2019-10-02 09:10:00|2019-10-02 09:37:45|    1665|        42|Manhattan|Central Harlem North|   Boro Zone|
|              B01381|2019-10-02 05:26:55|2019-10-02 05:34:34|         264|          70|   null|                B01381|2019-10-02 05:26:55|2019-10-02 05:34:34|     459|       264|  Unknown|                  NV|         N/A|
|              B02285|2019-10-03 07:30:00|2019-10-03 09:46:00|         264|         264|   null|                B02285|2019-10-03 07:30:00|2019-10-03 09:46:00|    8160|       264|  Unknown|                  NV|         N/A|
|              B02715|2019-10-02 20:37:38|2019-10-02 21:15:11|         162|         265|   null|                B02866|2019-10-02 20:37:38|2019-10-02 21:15:11|    2253|       162|Manhattan|        Midtown East| Yellow Zone|
|              B02509|2019-10-02 10:24:45|2019-10-02 10:40:03|         264|         126|   null|                B02682|2019-10-02 10:24:45|2019-10-02 10:40:03|     918|       264|  Unknown|                  NV|         N/A|
|              B03016|2019-10-02 12:13:52|2019-10-02 12:21:08|         264|           3|   null|                B02878|2019-10-02 12:13:52|2019-10-02 12:21:08|     436|       264|  Unknown|                  NV|         N/A|
|              B03139|2019-10-01 08:00:18|2019-10-01 09:00:41|         264|         221|   null|                B03139|2019-10-01 08:00:18|2019-10-01 09:00:41|    3623|       264|  Unknown|                  NV|         N/A|
|              B03016|2019-10-01 04:25:05|2019-10-01 04:32:51|         264|         254|   null|                B03016|2019-10-01 04:25:05|2019-10-01 04:32:51|     466|       264|  Unknown|                  NV|         N/A|
|              B00937|2019-10-02 07:18:00|2019-10-02 07:39:20|         264|          75|   null|                B00937|2019-10-02 07:18:00|2019-10-02 07:39:20|    1280|       264|  Unknown|                  NV|         N/A|
|              B01979|2019-10-01 16:32:00|2019-10-01 16:52:00|         264|         264|   null|                B01979|2019-10-01 16:32:00|2019-10-01 16:52:00|    1200|       264|  Unknown|                  NV|         N/A|
|              B00536|2019-10-02 14:05:12|2019-10-02 14:09:20|         264|          91|   null|                B00536|2019-10-02 14:05:12|2019-10-02 14:09:20|     248|       264|  Unknown|                  NV|         N/A|
|              B01338|2019-10-01 15:44:40|2019-10-01 15:47:40|         264|          18|   null|                B01338|2019-10-01 15:44:40|2019-10-01 15:47:40|     180|       264|  Unknown|                  NV|         N/A|
|              B01626|2019-10-01 10:52:40|2019-10-01 11:20:18|         264|         173|   null|                B01626|2019-10-01 10:52:40|2019-10-01 11:20:18|    1658|       264|  Unknown|                  NV|         N/A|
|              B01710|2019-10-03 08:06:13|2019-10-03 09:17:05|         264|         264|   null|                B01710|2019-10-03 08:06:13|2019-10-03 09:17:05|    4252|       264|  Unknown|                  NV|         N/A|
|              B02248|2019-10-01 07:13:12|2019-10-01 08:10:12|         264|         264|   null|                B02248|2019-10-01 07:13:12|2019-10-01 08:10:12|    3420|       264|  Unknown|                  NV|         N/A|
|              B01553|2019-10-02 13:17:15|2019-10-02 13:20:19|         264|         258|   null|                B01553|2019-10-02 13:17:15|2019-10-02 13:20:19|     184|       264|  Unknown|                  NV|         N/A|
|              B03139|2019-10-02 14:00:17|2019-10-02 14:30:11|         264|         245|   null|                B03139|2019-10-02 14:00:17|2019-10-02 14:30:11|    1794|       264|  Unknown|                  NV|         N/A|
|              B00653|2019-10-03 10:04:00|2019-10-03 11:00:00|         134|         197|   null|                B00653|2019-10-03 10:04:00|2019-10-03 11:00:00|    3360|       134|   Queens|         Kew Gardens|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+-------------------+--------+----------+---------+--------------------+------------+
only showing top 20 rows

In [135]:
count_df = full_join_df\
    .groupBy("Zone")\
    .count()

In [143]:
least_PU_location = count_df\
    .orderBy(F.col("count"))\
    .first()

print(f"least pickup location: {least_PU_location['Zone']}")

least pickup location: Jamaica Bay